.row-board {
  display: flex;
}
.center-board {
  transform: translate(10vw, 1vh);
  padding: 0px;
  position: absolute;
}
.taken-peices {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 30px;
  background-color: rgb(0, 0, 0);
  width: 80vh;
  color: rgb(136, 136, 136);
}
/* Style for the board container */
.board-container {
  position: relative;
  /* Add other styles as needed */
}

.winner {
  width: 80vh;
  font-size: 30px;
  background-color: aliceblue;
}
